################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OctoFX/OctoFX.Core/bin/Debug
